.form-control {
  margin-bottom: 24px;
}

.input,
.select,
.textarea {
  width: 100%;
  border: 1px solid #000000;
  padding: 10px;
  background-color: #fff;
  color: #666666;
  margin: 0;
  border-radius: 0;
  font-size: inherit;
}

.input,
.select {
  height: 45px;
}
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 20px;
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.input:focus,
.select:focus,
.textarea:focus {
  outline: none;
  background-color: #fff;
  color: #666666;
  border-color: #000000;
}

.input:disabled,
.select:disabled,
.textarea:disabled {
  background-color: #f8f8f8;
  color: #999999;
  border-color: #999999;
}

.input::placeholder,
.textarea::placeholder {
  color: #999999;
}

.textarea {
  resize: none;
  height: 200px;
}

.input-success,
.input-success:focus {
  color: green;
  border-color: green;
}

.input-danger,
.input-danger:focus {
  color: red;
  border-color: red;
}

.input-blank {
  background-color: none;
  border-color: transparent;
}
.input-blank:focus {
  background-color: #e5e5e5;
  border-style: dashed;
}
